*{
			margin: 0px;
			padding: 0px;
		}
		/*chỉnh toàn bộ trang*/
		#khung{
			width: 1200px;
			margin: auto;
			font-family: Arial;
		}
		#top{
			margin: auto;
			height: 140px;
			width: 1200px;

		}
		#menu{
			clear: both;
			height: 40px;
			margin-top: 5px;
		}
		#banner{
			height: 400px;
			background: url(../hinhanh/2.jpg);
			margin-top: 5px;
			margin-bottom: 25px;
			clear: both;
			animation: banner 20s infinite;
		}
		@keyframes banner{
			25%{
				background: url(../hinhanh/2.jpg);
			}
			50%{
				background: url(../hinhanh/7.jpg);
			}
			75%{
				background: url(../hinhanh/8.jpg);
			}
			100%{
				background: url(../hinhanh/9.jpg);
			}
		}
		#tin{
			height: 500px;
			clear: both;
			margin-top: 20px;
		}
		#footer{
			margin-top: 10px;
			min-height: 190px;
			background-image: url(hinhanh/nengo.jpg);
			text-align: center;
			clear: both;
			font-size: 20px;
		}
		#gotop {
			display: none;
			position: fixed;
			bottom: 50px;
			right: 15px;
			z-index: 99;
			font-size: 18px;
			border: 3px solid gray ;
			outline: none;
			/*background-color: gray;*/
			color: black;
			cursor: pointer;
			padding: 8px;
			border-radius: 4px;
		}
		#chitiet{
	    		width: 1200px;
	    		min-height: 400px;
	    		
	    	}
	    	#hct{
	    		
	    		width: 400px;
	    		height: 400px; 
	    		float: left; 
	    	}
	    	#hct img{
	    		width: 400px;
	    		height: 300px;
	    	}
	    	#hct :hover {
	    		-ms-transform: scale(1); /* IE 9 */
	    		-webkit-transform: scale(1); /* Safari 3-8 */
	    		transform: scale(1.3); 
	    	}
	    	#ttct{
	    		width: 760px; 
	    		min-height: 395px;
	    		margin-left: 40px;
	    		margin-bottom: 5px;
	    		float: left;
	    		margin-bottom: 40px
	    		
	    	}
	    	#ttct1{
	    		width: 760px;
	    		min-height: 285px;
	    		

	    	}
	    	#ctsp{
	    		width: 760px;
	    		min-height: 100px;
	    	}
	    	#ttct2{
	    		width: 760px;
	    		min-height: 50px;
	    		    	
	    	}
	    	#ct2a{
	    		width: 100px;
	    		min-height: 30px;
	    		line-height: 30px;
	    		text-align: center;
	    		margin-top: 10px;
	    		float: left;
	    		margin-left: 160px;
	    		
	    	}
	    	#ct2a p{
	    		font-weight: bold;
	    		font-size: 18px;
	    	}
	    	#ct2b{
	    		width: 50px;
	    		min-height: 30px;
	    		margin-top: 10px;
	    		margin-left: 10px;
	    		float: left;
	    		
	    		
	    	}
	    	#ttct3{
	    		width: 760px;
	    		min-height: 45px;
	    		margin-top: 10px;
	    		
	    	}
	    	#ct3a{
	    		width: 250px;
	    		min-height: 45px;
	    		margin-left: 100px;
	    		float: left;
	    		

	    	}
	    	#ct3a button{
	    		background-color: #ffb916;
	    		font-size: 22px;
	    		line-height: 45px;
	    		text-align: center;
	    		display: block;
	    	}
	    	#ct3b{
	    		width: 250px;
	    		min-height: 45px;
	    		line-height: 45px;
	    		
	    		margin-left: 397px;
	    		
	    	}
	    	#blsp{
	    		margin-top:25px; 
	    		width: 760px;
	    		min-height: 100px;
	    		
	    	}
	    	#blsp form #nxsp{
	    		margin-left:70px 
	    	}
	    	#blsp1{
	    		
	    		width: 760px;
	    		min-height: 40px;

	    	}
	    	#blsp2{
	    		margin-left: 70px;
	    		width: 400px;
	    		height: 30px;
	    		margin-top: 0px;
	    		float: left;

	    	}
	    	#blsp2 p{
	    		line-height: 30px;
	    	}
	    	#blsp3{
	    		
	    		width: 70px;
	    		height: 30px;
	    		float: left;
	    		margin-left: 108px;
	    		
	    	}
	    	#blsp3 input{
	    		background-color: #9F224E;
	    		color: white;
	    		font-weight: bold;
	    		width: 70px;
	    		height: 30px;
	    	}