*{
	margin: 0px;
	padding: 0px;
}
/*chỉnh toàn bộ trang*/
#khung{
	width: 1200px;
	margin: auto;
	font-family: Arial;
}
#top{
	margin: auto;
	height: 140px;
	width: 1200px;

}
#menu{
	clear: both;
	height: 40px;
	margin-top: 5px;
}
#banner{
	height: 400px;
	background: url(../hinhanh/2.jpg);
	margin-top: 5px;
	margin-bottom: 25px;
	clear: both;
	animation: banner 20s infinite;
}
@keyframes banner{
	25%{
		background: url(../hinhanh/2.jpg);
	}
	50%{
		background: url(../hinhanh/7.jpg);
	}
	75%{
		background: url(../hinhanh/8.jpg);
	}
	100%{
		background: url(../hinhanh/9.jpg);
	}
}
#giua{
	/*background-color: red;*/
	width: 1200px;
	min-height: 400px;
	margin-top: 10px;
}
#tin{
	height: 500px;
	clear: both;
	margin-top: 20px;
}
#footer{
	margin-top: 10px;
	min-height: 190px;
	background-image: url(hinhanh/nengo.jpg);
	text-align: center;
	clear: both;
	font-size: 20px;
}
#gotop {
		display: none;
		position: fixed;
		bottom: 50px;
		right: 15px;
		z-index: 99;
		font-size: 18px;
		border: 3px solid gray ;
		outline: none;
		/*background-color: gray;*/
		color: black;
		cursor: pointer;
		padding: 8px;
		border-radius: 4px;
	}