.gioithieu1a{
		width: 1200px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-bottom: 3px solid #ab4205ba;
	}
	.gioithieu1a p{
		padding-left:5px; 
		background: #ab4205b0;
		display: inline-block;
		text-transform: uppercase;
		font-family: fonta;
		padding: 0 10px 0 10px;
		color: white;
		font-size: 28px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	#gioithieu2a{
		margin-top: 15px;
		padding-left: 5px;
		width: 100%;
		float:left;
		font-size: 18px;
	}
	#gioithieu2a p{
		padding-left: 100px;
	}
	#gioithieu2a p a{

		text-decoration: none;
		color: red;
}