*{
	margin: 0px;
	padding: 0px;
}
/*chỉnh toàn bộ trang*/
#khung{
	width: 1200px;
	margin: auto;
	font-family: Arial;
}
#top{
	margin: auto;
	height: 140px;
	width: 1200px;

}
#menu{
	clear: both;
	height: 40px;
	margin-top: 5px;
}
#banner{
	height: 400px;
	background: url(hinhanh/2.jpg);
	margin-top: 5px;
	margin-bottom: 25px;
	clear: both;
	animation: banner 20s infinite;
}
@keyframes banner{
	25%{
		background: url(hinhanh/2.jpg);
	}
	50%{
		background: url(hinhanh/7.jpg);
	}
	75%{
		background: url(hinhanh/8.jpg);
	}
	100%{
		background: url(hinhanh/9.jpg);
	}
}
#tin{
	height: 500px;
	clear: both;
	margin-top: 20px;
}
#footer{
	margin-top: 10px;
	min-height: 190px;
	background-image: url(hinhanh/nengo.jpg);
	text-align: center;
	clear: both;
	font-size: 20px;
}
/*trang lien he*/
#form{
	min-width: 100px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	margin-top: 5px;
	clear: both;
	text-align: center;
	color: white;
}
#form p{
	min-width: 100px;
	display: inline-block;
	background: #ab4205b0;
	text-transform: uppercase;
	font-family: fonta;
	font-size: 40px;
	padding: 0 10px 0 10px;
}

#ttlh{
	width: 400px;
	float: left;
	margin-top: 20px;
}
#ttlh p{
	text-align: center;
	margin-left: 20px;
	margin-top: 5px;
}
#ttlh span{
	margin-left: 20px;
}
u{
	font-size: 20px;
}
#lh{
	width: 794px;
	float:left;
	margin-top: 20px;	
}
#lh input{
	height: 30px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	outline: none;
	padding: 0px 8px;
	margin-top: 5px;
	margin-left: 50px;
}
#lh p{
	margin-top: 5px;
	font-weight: bold;
}
#gotop {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 15px;
	z-index: 99;
	font-size: 18px;
	border: 3px solid gray ;
	outline: none;
	/*background-color: gray;*/
	color: black;
	cursor: pointer;
	padding: 8px;
	border-radius: 4px;
}