/*logo*/
	#top1{	
		width: 200px;
		height:150px;
		float:left;
	}
	/*tên công ty*/
	#top2{
		height: 150px;
		width: 747px;
		float:left;
		border-left: 3px solid #1211111a;
	}
	/*hotline*/
	#top3{
		width: 247px;
		height: 150px;
		float: left;
		border-left: 3px solid #1211111a;
	}
	#top3 p{
		padding: 2px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: white;
	}